<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/search/">
    <!-- instantsearch -->
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/instantsearch.*'].path %>">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.0/dist/instantsearch-theme-algolia.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.0/dist/instantsearch.min.css">
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.0"></script>
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
    <!-- end of instantsearch -->
  </head>
  <body>
    <%= render '/header_search_page.*' %>
    <div class=wrapper>
      <div id="doc-nav" class="doc-nav">
      </div>
      <div class="main class instantsearch-input">
        <%= yield %>
        <hr>
      <div class="clear"></div>
    </div>
      <script type="application/javascript" src="/assets/javascripts/instantsearch.js"></script>
      <%= render '/footer.*' %>
      <%= render '/analytics.*' %>
      <%= render '/https_redirect.*' %>
  </body>
</html>
